/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;} /*affect if materialtoolbar*/
body{
  background-color: darkgray;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 10x;
}

.banner-content{
  align-items: center;
}

.banner-content a{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
}

.row{
  display: flex;
  /*margin: 45px 20 5px 20;*/
  margin: 20px 10px 20px 10px;
  /*margin-top: 10px;
  margin-bottom: 20px;*/
  background-color: lightgray;
}

mat-form-filed{
  display: flex;
  float: left;
  width: 60%;
  min-width: 30px;
  max-width: 300px;
}
.footer{
  visibility: hidden;
  clear: both;
  width: 100%;
  height: 40px;
  background-color: white;
}

.container{
  display: flex;
  grid-template-columns: fit-content(300px) 1fr fit-content(300px);
  max-width: 60%;
  margin: auto;
  background-color: white;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.btn{
  margin: 4px 2px;
  height: 40px;
  color: #FFFF;
  background-color: darkgray;
  border: 0;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}

.btn.btn-read{
  background-color: red;
  float: right;
}

/*Simple form field*/


/* Material Icons */

.mat-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

