
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

._card {
  margin-top: 3px;
  margin-bottom: 20px;
  border: none;
  width: auto;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  /*background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);*/
}
