.mat-form-field{
  padding: 9px 0 9px 30px;
  margin: 5px 0 5px 0;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

#row1{
  display: flex;
  float: left;

}
#row2{
  display: flex;
  float: right;
  align-items: flex-end;
}

_form{
  display: flex;
  margin: 10px 10px;
}
