

.mat-form-field{
  padding: 9px 0 9px 30px;
  margin: 5px 0 5px 0;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}


_form{
  display: flex;
  margin: 10px 10px;
}
