.reservation-card {
  max-width: 400px;
}

.reservation-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td{
  width: auto;
  margin-right: 15%;
  padding: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}





