<tr class="row">
  <td>
    <div mat-card-avatar class="card-image"></div>
  </td>
  <td >
    <div mat-card-title><span name="name">{{reservation.contact.name}}</span></div>
    <div mat-card-subtitle><span  name="date">{{reservation.date | date}}</span></div>
  </td>
  <td>
    <div mat-card-title><p>Ranking</p></div>
    <div mat-card-subtitle><span name="ranking">{{reservation.ranking}}</span></div>
  </td>
  <td>
    <div mat-card-title><p>Add Favorite</p></div>
    <div mat-card-subtitle><span name="favorite">{{reservation.favorite}}</span></div>
    <button mat-button-icon (click)="setFavorite()">
      <mat-icon>home</mat-icon>
    </button>
    <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
  </td>
  <td>
    <button mat-button class="btn btn-gray" color="secundary" (click)="editReservation(reservation)">EDIT</button>
  </td>
</tr>
