<tr class="row">
  <td>
    <div mat-card-avatar class="card-image"></div>
  </td>
  <td >
    <div mat-card-title><span name="name">{{reservation.contact.name}}</span></div>
    <div mat-card-subtitle><span  name="date">{{reservation.date | date}}</span></div>
  </td>
  <td>
    <div mat-card-title><p>Ranking</p></div>
    <div mat-card-subtitle><span name="ranking">{{reservation.ranking}}</span></div>
  </td>
  <td>
    <div mat-card-title><p>Add Favorite</p></div>
    <div mat-card-subtitle><span name="favorite">{{reservation.favorite}}</span></div>
    <button mat-icon-button color="warn" aria-label="" (click)="setFavorite()">
      <mat-icon>{{reservation.favorite ? 'favorite': 'favorite_border' }}</mat-icon>
    </button>
  </td>
  <td>
    <button mat-button class="btn btn-gray" color="secundary"
    [routerLink]="['../reservations/edit',reservation.id]">EDIT</button>
  </td>
</tr>
